<footer class="main-footer">
  <div class="copyright">
    <!-- <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p> -->
    <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
  </div>


  <div style="font-size:14px;color:#c30;padding-right:30px;float:right"> 
		<iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                frameborder="0" scrolling="0" width="91px" height="20px"
                src="https://ghbtns.com/github-btn.html?user=lichi6174&repo=lichi6174.github.io&type=star&count=true" >
            </iframe>
		<!-- <span id="busuanzi_container_site_pv">本站总访问量：<span id="busuanzi_value_site_pv"></span>次</span> -->
		<span id="busuanzi_container_site_pv">总访问量: <span id="busuanzi_value_site_pv"></span>次</span>
		<span id="busuanzi_container_site_uv">访客数量: <span id="busuanzi_value_site_uv"></span>人次</span>
	</div>

</footer> <!-- End Footer -->
